.footer-col-2 {
  width: calc(15% - (30px / 2));
}

.footer-col-3 {
  width: calc(25% - (30px / 2));
}

.footer-col-menu {
  width: calc(25% - (30px / 2));
}

@media screen and (max-width: 800px) {
  .footer-col-menu {
    width: calc(100% - (30px / 2));
  }
}

.footer-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-page-link {
  color: #828282;
  text-decoration: none;
}

.footer-page-link:hover {
  text-decoration: underline;
}
