<footer class="site-footer h-card" id="footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
            <li><a class="u-email" href="mailto:elad.tamari@gmail.com">elad.tamari@gmail.com ליצור קשר</a></li>
        </ul>
          {%- include social.html -%}
      </div>

     

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>

      <div class="footer-col footer-col-menu footer-col-4">
        <ul class="footer-menu-list">
          {%- for my_page in site.pages -%}
            {%- assign is_hespedim_page = my_page.path contains "assets/hespedim/" -%}
            {%- assign is_not_hespedim_page = is_hespedim_page == false -%}
            {%- if my_page.title and is_not_hespedim_page -%}
              <li><a class="footer-page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </div>
    </div>

  </div>

</footer>
